<% content_for :title, "Bad Request" %>
<div class="container">
  <div class="page-header">
    <h1><%= yield :title %></h1>
  </div>
  <div class="page-body">
    <p><%= @message %></p>
  </div>
</div>
