<div class="comments-count">
  <span class="count"><%= @comments.size %></span> comments
</div>
<div class="comments-data">
  <%= render partial: "layouts/comment", collection: @comments, locals: {photo: nil} %>
</div>
