<div class="comments-count">
  <span class="count"><%= @comments.size %></span> comments
</div>
<div class="comments-data">
  <% @comments.each do |c| %>
    <%= render partial: "layouts/comment", locals: {photo: nil, comment: c} %>
  <% end %>
</div>
