<% content_for :title, "Followed By" %>
<div class="container">
  <div class="page-header">
    <h1><%= yield :title %></h1>
  </div>
  <div class="row">
    <div class="span9">
      <%= render partial: "layouts/media-grid-users", locals: {users: @users} %>
    </div>
    <div class="span6">
      <%= render partial: "layouts/user", locals: {user: @user, relationship: @relationship} %>
    </div>
  </div>
</div>
