<% content_for :title, "@#{@user.username} following" %>
<div class="container">
  <div class="page-header">
    <h1><%= yield :title %></h1>
  </div>
  <div class="page-body row">
    <div class="content span7">
      <%= render partial: "layouts/media-grid-users", locals: {users: @users} %>
      <%= render partial: "layouts/page-status", locals: {pagination: @pagination, key: "cursor"} %>
    </div>
    <div class="dashboard span5">
      <%= render partial: "layouts/user", locals: {user: @user, relationship: @relationship} %>
    </div>
  </div>
</div>
