<% content_for :title, "Recent" %>
<div class="container">
  <div class="page-header">
    <h1><%= yield :title %></h1>
  </div>
  <div class="row">
    <div class="span9">
      <%= render partial: "layouts/media-grid-photos", locals: {photos: @photos} %>
    </div>
    <div class="span6">
      <%= render partial: "layouts/user", locals: {user: @user, relationship: @relationship} %>
    </div>
  </div>
</div>
<%= render partial: "layouts/media-panel", locals: {photos: @photos} %>
