<div class="container">
  <div class="page-header">
    <h1>Popular</h1>
  </div>
  <ul class="media-grid">
    <% @photos.each do |p| %>
    <li>
      <a href="#">
        <%= photo_tag p, :thumbnail %>
      </a>
    </li>
    <% end %>
  </ul>
</div>
