<% content_for :title, "Popular" %>
<div class="container">
  <div class="page-header">
    <h1><%= yield :title %></h1>
  </div>
  <div class="page-body row">
    <div class="content span9">
      <%= render partial: "layouts/media-grid-photos", locals: {photos: @photos} %>
    </div>
    <div class="dashboard span6">
      <%= render partial: "layouts/facebook-like-box" %>
    </div>
  </div>
</div>
<%= render partial: "layouts/media-panel", locals: {photos: @photos} %>
