.emoji {
  display: inline-block;
  background: url("emoji-iphone.gif") top left no-repeat;
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.emoji_e001 { background-position: 0px 0px; }
.emoji_e002 { background-position: 0px -20px; }
.emoji_e003 { background-position: 0px -40px; }
.emoji_e004 { background-position: 0px -60px; }
.emoji_e005 { background-position: 0px -80px; }
.emoji_e006 { background-position: 0px -100px; }
.emoji_e007 { background-position: 0px -120px; }
.emoji_e008 { background-position: 0px -140px; }
.emoji_e009 { background-position: 0px -160px; }
.emoji_e00a { background-position: 0px -180px; }
.emoji_e00b { background-position: 0px -200px; }
.emoji_e00c { background-position: 0px -220px; }
.emoji_e00d { background-position: 0px -240px; }
.emoji_e00e { background-position: 0px -260px; }
.emoji_e00f { background-position: 0px -280px; }
.emoji_e010 { background-position: 0px -300px; }
.emoji_e011 { background-position: 0px -320px; }
.emoji_e012 { background-position: 0px -340px; }
.emoji_e013 { background-position: 0px -360px; }
.emoji_e014 { background-position: 0px -380px; }
.emoji_e015 { background-position: 0px -400px; }
.emoji_e016 { background-position: 0px -420px; }
.emoji_e017 { background-position: 0px -440px; }
.emoji_e018 { background-position: 0px -460px; }
.emoji_e019 { background-position: 0px -480px; }
.emoji_e01a { background-position: 0px -500px; }
.emoji_e01b { background-position: 0px -520px; }
.emoji_e01c { background-position: 0px -540px; }
.emoji_e01d { background-position: 0px -560px; }
.emoji_e01e { background-position: 0px -580px; }
.emoji_e01f { background-position: 0px -600px; }
.emoji_e020 { background-position: 0px -620px; }
.emoji_e021 { background-position: 0px -640px; }
.emoji_e022 { background-position: 0px -660px; }
.emoji_e023 { background-position: 0px -680px; }
.emoji_e024 { background-position: 0px -700px; }
.emoji_e025 { background-position: 0px -720px; }
.emoji_e026 { background-position: 0px -740px; }
.emoji_e027 { background-position: 0px -760px; }
.emoji_e028 { background-position: 0px -780px; }
.emoji_e029 { background-position: 0px -800px; }
.emoji_e02a { background-position: 0px -820px; }
.emoji_e02b { background-position: 0px -840px; }
.emoji_e02c { background-position: 0px -860px; }
.emoji_e02d { background-position: 0px -880px; }
.emoji_e02e { background-position: 0px -900px; }
.emoji_e02f { background-position: 0px -920px; }
.emoji_e030 { background-position: 0px -940px; }
.emoji_e031 { background-position: 0px -960px; }
.emoji_e032 { background-position: 0px -980px; }
.emoji_e033 { background-position: 0px -1000px; }
.emoji_e034 { background-position: 0px -1020px; }
.emoji_e035 { background-position: 0px -1040px; }
.emoji_e036 { background-position: 0px -1060px; }
.emoji_e037 { background-position: 0px -1080px; }
.emoji_e038 { background-position: 0px -1100px; }
.emoji_e039 { background-position: 0px -1120px; }
.emoji_e03a { background-position: 0px -1140px; }
.emoji_e03b { background-position: 0px -1160px; }
.emoji_e03c { background-position: 0px -1180px; }
.emoji_e03d { background-position: 0px -1200px; }
.emoji_e03e { background-position: 0px -1220px; }
.emoji_e03f { background-position: 0px -1240px; }
.emoji_e040 { background-position: 0px -1260px; }
.emoji_e041 { background-position: 0px -1280px; }
.emoji_e042 { background-position: 0px -1300px; }
.emoji_e043 { background-position: 0px -1320px; }
.emoji_e044 { background-position: 0px -1340px; }
.emoji_e045 { background-position: 0px -1360px; }
.emoji_e046 { background-position: 0px -1380px; }
.emoji_e047 { background-position: 0px -1400px; }
.emoji_e048 { background-position: 0px -1420px; }
.emoji_e049 { background-position: 0px -1440px; }
.emoji_e04a { background-position: 0px -1460px; }
.emoji_e04b { background-position: 0px -1480px; }
.emoji_e04c { background-position: 0px -1500px; }
.emoji_e04d { background-position: 0px -1520px; }
.emoji_e04e { background-position: 0px -1540px; }
.emoji_e04f { background-position: 0px -1560px; }
.emoji_e050 { background-position: 0px -1580px; }
.emoji_e051 { background-position: 0px -1600px; }
.emoji_e052 { background-position: 0px -1620px; }
.emoji_e053 { background-position: 0px -1640px; }
.emoji_e054 { background-position: 0px -1660px; }
.emoji_e055 { background-position: 0px -1680px; }
.emoji_e056 { background-position: 0px -1700px; }
.emoji_e057 { background-position: 0px -1720px; }
.emoji_e058 { background-position: 0px -1740px; }
.emoji_e059 { background-position: 0px -1760px; }
.emoji_e05a { background-position: 0px -1780px; }
.emoji_e101 { background-position: 0px -1800px; }
.emoji_e102 { background-position: 0px -1820px; }
.emoji_e103 { background-position: 0px -1840px; }
.emoji_e104 { background-position: 0px -1860px; }
.emoji_e105 { background-position: 0px -1880px; }
.emoji_e106 { background-position: 0px -1900px; }
.emoji_e107 { background-position: 0px -1920px; }
.emoji_e108 { background-position: 0px -1940px; }
.emoji_e109 { background-position: 0px -1960px; }
.emoji_e10a { background-position: 0px -1980px; }
.emoji_e10b { background-position: 0px -2000px; }
.emoji_e10c { background-position: 0px -2020px; }
.emoji_e10d { background-position: 0px -2040px; }
.emoji_e10e { background-position: 0px -2060px; }
.emoji_e10f { background-position: 0px -2080px; }
.emoji_e110 { background-position: 0px -2100px; }
.emoji_e111 { background-position: 0px -2120px; }
.emoji_e112 { background-position: 0px -2140px; }
.emoji_e113 { background-position: 0px -2160px; }
.emoji_e114 { background-position: 0px -2180px; }
.emoji_e115 { background-position: 0px -2200px; }
.emoji_e116 { background-position: 0px -2220px; }
.emoji_e117 { background-position: 0px -2240px; }
.emoji_e118 { background-position: 0px -2260px; }
.emoji_e119 { background-position: 0px -2280px; }
.emoji_e11a { background-position: 0px -2300px; }
.emoji_e11b { background-position: 0px -2320px; }
.emoji_e11c { background-position: 0px -2340px; }
.emoji_e11d { background-position: 0px -2360px; }
.emoji_e11e { background-position: 0px -2380px; }
.emoji_e11f { background-position: 0px -2400px; }
.emoji_e120 { background-position: 0px -2420px; }
.emoji_e121 { background-position: 0px -2440px; }
.emoji_e122 { background-position: 0px -2460px; }
.emoji_e123 { background-position: 0px -2480px; }
.emoji_e124 { background-position: 0px -2500px; }
.emoji_e125 { background-position: 0px -2520px; }
.emoji_e126 { background-position: 0px -2540px; }
.emoji_e127 { background-position: 0px -2560px; }
.emoji_e128 { background-position: 0px -2580px; }
.emoji_e129 { background-position: 0px -2600px; }
.emoji_e12a { background-position: 0px -2620px; }
.emoji_e12b { background-position: 0px -2640px; }
.emoji_e12c { background-position: 0px -2660px; }
.emoji_e12d { background-position: 0px -2680px; }
.emoji_e12e { background-position: 0px -2700px; }
.emoji_e12f { background-position: 0px -2720px; }
.emoji_e130 { background-position: 0px -2740px; }
.emoji_e131 { background-position: 0px -2760px; }
.emoji_e132 { background-position: 0px -2780px; }
.emoji_e133 { background-position: 0px -2800px; }
.emoji_e134 { background-position: 0px -2820px; }
.emoji_e135 { background-position: 0px -2840px; }
.emoji_e136 { background-position: 0px -2860px; }
.emoji_e137 { background-position: 0px -2880px; }
.emoji_e138 { background-position: 0px -2900px; }
.emoji_e139 { background-position: 0px -2920px; }
.emoji_e13a { background-position: 0px -2940px; }
.emoji_e13b { background-position: 0px -2960px; }
.emoji_e13c { background-position: 0px -2980px; }
.emoji_e13d { background-position: 0px -3000px; }
.emoji_e13e { background-position: 0px -3020px; }
.emoji_e13f { background-position: 0px -3040px; }
.emoji_e140 { background-position: 0px -3060px; }
.emoji_e141 { background-position: 0px -3080px; }
.emoji_e142 { background-position: 0px -3100px; }
.emoji_e143 { background-position: 0px -3120px; }
.emoji_e144 { background-position: 0px -3140px; }
.emoji_e145 { background-position: 0px -3160px; }
.emoji_e146 { background-position: 0px -3180px; }
.emoji_e147 { background-position: 0px -3200px; }
.emoji_e148 { background-position: 0px -3220px; }
.emoji_e149 { background-position: 0px -3240px; }
.emoji_e14a { background-position: 0px -3260px; }
.emoji_e14b { background-position: 0px -3280px; }
.emoji_e14c { background-position: 0px -3300px; }
.emoji_e14d { background-position: 0px -3320px; }
.emoji_e14e { background-position: 0px -3340px; }
.emoji_e14f { background-position: 0px -3360px; }
.emoji_e150 { background-position: 0px -3380px; }
.emoji_e151 { background-position: 0px -3400px; }
.emoji_e152 { background-position: 0px -3420px; }
.emoji_e153 { background-position: 0px -3440px; }
.emoji_e154 { background-position: 0px -3460px; }
.emoji_e155 { background-position: 0px -3480px; }
.emoji_e156 { background-position: 0px -3500px; }
.emoji_e157 { background-position: 0px -3520px; }
.emoji_e158 { background-position: 0px -3540px; }
.emoji_e159 { background-position: 0px -3560px; }
.emoji_e15a { background-position: 0px -3580px; }
.emoji_e201 { background-position: 0px -3600px; }
.emoji_e202 { background-position: 0px -3620px; }
.emoji_e203 { background-position: 0px -3640px; }
.emoji_e204 { background-position: 0px -3660px; }
.emoji_e205 { background-position: 0px -3680px; }
.emoji_e206 { background-position: 0px -3700px; }
.emoji_e207 { background-position: 0px -3720px; }
.emoji_e208 { background-position: 0px -3740px; }
.emoji_e209 { background-position: 0px -3760px; }
.emoji_e20a { background-position: 0px -3780px; }
.emoji_e20b { background-position: 0px -3800px; }
.emoji_e20c { background-position: 0px -3820px; }
.emoji_e20d { background-position: 0px -3840px; }
.emoji_e20e { background-position: 0px -3860px; }
.emoji_e20f { background-position: 0px -3880px; }
.emoji_e210 { background-position: 0px -3900px; }
.emoji_e211 { background-position: 0px -3920px; }
.emoji_e212 { background-position: 0px -3940px; }
.emoji_e213 { background-position: 0px -3960px; }
.emoji_e214 { background-position: 0px -3980px; }
.emoji_e215 { background-position: 0px -4000px; }
.emoji_e216 { background-position: 0px -4020px; }
.emoji_e217 { background-position: 0px -4040px; }
.emoji_e218 { background-position: 0px -4060px; }
.emoji_e219 { background-position: 0px -4080px; }
.emoji_e21a { background-position: 0px -4100px; }
.emoji_e21b { background-position: 0px -4120px; }
.emoji_e21c { background-position: 0px -4140px; }
.emoji_e21d { background-position: 0px -4160px; }
.emoji_e21e { background-position: 0px -4180px; }
.emoji_e21f { background-position: 0px -4200px; }
.emoji_e220 { background-position: 0px -4220px; }
.emoji_e221 { background-position: 0px -4240px; }
.emoji_e222 { background-position: 0px -4260px; }
.emoji_e223 { background-position: 0px -4280px; }
.emoji_e224 { background-position: 0px -4300px; }
.emoji_e225 { background-position: 0px -4320px; }
.emoji_e226 { background-position: 0px -4340px; }
.emoji_e227 { background-position: 0px -4360px; }
.emoji_e228 { background-position: 0px -4380px; }
.emoji_e229 { background-position: 0px -4400px; }
.emoji_e22a { background-position: 0px -4420px; }
.emoji_e22b { background-position: 0px -4440px; }
.emoji_e22c { background-position: 0px -4460px; }
.emoji_e22d { background-position: 0px -4480px; }
.emoji_e22e { background-position: 0px -4500px; }
.emoji_e22f { background-position: 0px -4520px; }
.emoji_e230 { background-position: 0px -4540px; }
.emoji_e231 { background-position: 0px -4560px; }
.emoji_e232 { background-position: 0px -4580px; }
.emoji_e233 { background-position: 0px -4600px; }
.emoji_e234 { background-position: 0px -4620px; }
.emoji_e235 { background-position: 0px -4640px; }
.emoji_e236 { background-position: 0px -4660px; }
.emoji_e237 { background-position: 0px -4680px; }
.emoji_e238 { background-position: 0px -4700px; }
.emoji_e239 { background-position: 0px -4720px; }
.emoji_e23a { background-position: 0px -4740px; }
.emoji_e23b { background-position: 0px -4760px; }
.emoji_e23c { background-position: 0px -4780px; }
.emoji_e23d { background-position: 0px -4800px; }
.emoji_e23e { background-position: 0px -4820px; }
.emoji_e23f { background-position: 0px -4840px; }
.emoji_e240 { background-position: 0px -4860px; }
.emoji_e241 { background-position: 0px -4880px; }
.emoji_e242 { background-position: 0px -4900px; }
.emoji_e243 { background-position: 0px -4920px; }
.emoji_e244 { background-position: 0px -4940px; }
.emoji_e245 { background-position: 0px -4960px; }
.emoji_e246 { background-position: 0px -4980px; }
.emoji_e247 { background-position: 0px -5000px; }
.emoji_e248 { background-position: 0px -5020px; }
.emoji_e249 { background-position: 0px -5040px; }
.emoji_e24a { background-position: 0px -5060px; }
.emoji_e24b { background-position: 0px -5080px; }
.emoji_e24c { background-position: 0px -5100px; }
.emoji_e24d { background-position: 0px -5120px; }
.emoji_e24e { background-position: 0px -5140px; }
.emoji_e24f { background-position: 0px -5160px; }
.emoji_e250 { background-position: 0px -5180px; }
.emoji_e251 { background-position: 0px -5200px; }
.emoji_e252 { background-position: 0px -5220px; }
.emoji_e253 { background-position: 0px -5240px; }
.emoji_e301 { background-position: 0px -5260px; }
.emoji_e302 { background-position: 0px -5280px; }
.emoji_e303 { background-position: 0px -5300px; }
.emoji_e304 { background-position: 0px -5320px; }
.emoji_e305 { background-position: 0px -5340px; }
.emoji_e306 { background-position: 0px -5360px; }
.emoji_e307 { background-position: 0px -5380px; }
.emoji_e308 { background-position: 0px -5400px; }
.emoji_e309 { background-position: 0px -5420px; }
.emoji_e30a { background-position: 0px -5440px; }
.emoji_e30b { background-position: 0px -5460px; }
.emoji_e30c { background-position: 0px -5480px; }
.emoji_e30d { background-position: 0px -5500px; }
.emoji_e30e { background-position: 0px -5520px; }
.emoji_e30f { background-position: 0px -5540px; }
.emoji_e310 { background-position: 0px -5560px; }
.emoji_e311 { background-position: 0px -5580px; }
.emoji_e312 { background-position: 0px -5600px; }
.emoji_e313 { background-position: 0px -5620px; }
.emoji_e314 { background-position: 0px -5640px; }
.emoji_e315 { background-position: 0px -5660px; }
.emoji_e316 { background-position: 0px -5680px; }
.emoji_e317 { background-position: 0px -5700px; }
.emoji_e318 { background-position: 0px -5720px; }
.emoji_e319 { background-position: 0px -5740px; }
.emoji_e31a { background-position: 0px -5760px; }
.emoji_e31b { background-position: 0px -5780px; }
.emoji_e31c { background-position: 0px -5800px; }
.emoji_e31d { background-position: 0px -5820px; }
.emoji_e31e { background-position: 0px -5840px; }
.emoji_e31f { background-position: 0px -5860px; }
.emoji_e320 { background-position: 0px -5880px; }
.emoji_e321 { background-position: 0px -5900px; }
.emoji_e322 { background-position: 0px -5920px; }
.emoji_e323 { background-position: 0px -5940px; }
.emoji_e324 { background-position: 0px -5960px; }
.emoji_e325 { background-position: 0px -5980px; }
.emoji_e326 { background-position: 0px -6000px; }
.emoji_e327 { background-position: 0px -6020px; }
.emoji_e328 { background-position: 0px -6040px; }
.emoji_e329 { background-position: 0px -6060px; }
.emoji_e32a { background-position: 0px -6080px; }
.emoji_e32b { background-position: 0px -6100px; }
.emoji_e32c { background-position: 0px -6120px; }
.emoji_e32d { background-position: 0px -6140px; }
.emoji_e32e { background-position: 0px -6160px; }
.emoji_e32f { background-position: 0px -6180px; }
.emoji_e330 { background-position: 0px -6200px; }
.emoji_e331 { background-position: 0px -6220px; }
.emoji_e332 { background-position: 0px -6240px; }
.emoji_e333 { background-position: 0px -6260px; }
.emoji_e334 { background-position: 0px -6280px; }
.emoji_e335 { background-position: 0px -6300px; }
.emoji_e336 { background-position: 0px -6320px; }
.emoji_e337 { background-position: 0px -6340px; }
.emoji_e338 { background-position: 0px -6360px; }
.emoji_e339 { background-position: 0px -6380px; }
.emoji_e33a { background-position: 0px -6400px; }
.emoji_e33b { background-position: 0px -6420px; }
.emoji_e33c { background-position: 0px -6440px; }
.emoji_e33d { background-position: 0px -6460px; }
.emoji_e33e { background-position: 0px -6480px; }
.emoji_e33f { background-position: 0px -6500px; }
.emoji_e340 { background-position: 0px -6520px; }
.emoji_e341 { background-position: 0px -6540px; }
.emoji_e342 { background-position: 0px -6560px; }
.emoji_e343 { background-position: 0px -6580px; }
.emoji_e344 { background-position: 0px -6600px; }
.emoji_e345 { background-position: 0px -6620px; }
.emoji_e346 { background-position: 0px -6640px; }
.emoji_e347 { background-position: 0px -6660px; }
.emoji_e348 { background-position: 0px -6680px; }
.emoji_e349 { background-position: 0px -6700px; }
.emoji_e34a { background-position: 0px -6720px; }
.emoji_e34b { background-position: 0px -6740px; }
.emoji_e34c { background-position: 0px -6760px; }
.emoji_e34d { background-position: 0px -6780px; }
.emoji_e401 { background-position: 0px -6800px; }
.emoji_e402 { background-position: 0px -6820px; }
.emoji_e403 { background-position: 0px -6840px; }
.emoji_e404 { background-position: 0px -6860px; }
.emoji_e405 { background-position: 0px -6880px; }
.emoji_e406 { background-position: 0px -6900px; }
.emoji_e407 { background-position: 0px -6920px; }
.emoji_e408 { background-position: 0px -6940px; }
.emoji_e409 { background-position: 0px -6960px; }
.emoji_e40a { background-position: 0px -6980px; }
.emoji_e40b { background-position: 0px -7000px; }
.emoji_e40c { background-position: 0px -7020px; }
.emoji_e40d { background-position: 0px -7040px; }
.emoji_e40e { background-position: 0px -7060px; }
.emoji_e40f { background-position: 0px -7080px; }
.emoji_e410 { background-position: 0px -7100px; }
.emoji_e411 { background-position: 0px -7120px; }
.emoji_e412 { background-position: 0px -7140px; }
.emoji_e413 { background-position: 0px -7160px; }
.emoji_e414 { background-position: 0px -7180px; }
.emoji_e415 { background-position: 0px -7200px; }
.emoji_e416 { background-position: 0px -7220px; }
.emoji_e417 { background-position: 0px -7240px; }
.emoji_e418 { background-position: 0px -7260px; }
.emoji_e419 { background-position: 0px -7280px; }
.emoji_e41a { background-position: 0px -7300px; }
.emoji_e41b { background-position: 0px -7320px; }
.emoji_e41c { background-position: 0px -7340px; }
.emoji_e41d { background-position: 0px -7360px; }
.emoji_e41e { background-position: 0px -7380px; }
.emoji_e41f { background-position: 0px -7400px; }
.emoji_e420 { background-position: 0px -7420px; }
.emoji_e421 { background-position: 0px -7440px; }
.emoji_e422 { background-position: 0px -7460px; }
.emoji_e423 { background-position: 0px -7480px; }
.emoji_e424 { background-position: 0px -7500px; }
.emoji_e425 { background-position: 0px -7520px; }
.emoji_e426 { background-position: 0px -7540px; }
.emoji_e427 { background-position: 0px -7560px; }
.emoji_e428 { background-position: 0px -7580px; }
.emoji_e429 { background-position: 0px -7600px; }
.emoji_e42a { background-position: 0px -7620px; }
.emoji_e42b { background-position: 0px -7640px; }
.emoji_e42c { background-position: 0px -7660px; }
.emoji_e42d { background-position: 0px -7680px; }
.emoji_e42e { background-position: 0px -7700px; }
.emoji_e42f { background-position: 0px -7720px; }
.emoji_e430 { background-position: 0px -7740px; }
.emoji_e431 { background-position: 0px -7760px; }
.emoji_e432 { background-position: 0px -7780px; }
.emoji_e433 { background-position: 0px -7800px; }
.emoji_e434 { background-position: 0px -7820px; }
.emoji_e435 { background-position: 0px -7840px; }
.emoji_e436 { background-position: 0px -7860px; }
.emoji_e437 { background-position: 0px -7880px; }
.emoji_e438 { background-position: 0px -7900px; }
.emoji_e439 { background-position: 0px -7920px; }
.emoji_e43a { background-position: 0px -7940px; }
.emoji_e43b { background-position: 0px -7960px; }
.emoji_e43c { background-position: 0px -7980px; }
.emoji_e43d { background-position: 0px -8000px; }
.emoji_e43e { background-position: 0px -8020px; }
.emoji_e43f { background-position: 0px -8040px; }
.emoji_e440 { background-position: 0px -8060px; }
.emoji_e441 { background-position: 0px -8080px; }
.emoji_e442 { background-position: 0px -8100px; }
.emoji_e443 { background-position: 0px -8120px; }
.emoji_e444 { background-position: 0px -8140px; }
.emoji_e445 { background-position: 0px -8160px; }
.emoji_e446 { background-position: 0px -8180px; }
.emoji_e447 { background-position: 0px -8200px; }
.emoji_e448 { background-position: 0px -8220px; }
.emoji_e449 { background-position: 0px -8240px; }
.emoji_e44a { background-position: 0px -8260px; }
.emoji_e44b { background-position: 0px -8280px; }
.emoji_e44c { background-position: 0px -8300px; }
.emoji_e501 { background-position: 0px -8320px; }
.emoji_e502 { background-position: 0px -8340px; }
.emoji_e503 { background-position: 0px -8360px; }
.emoji_e504 { background-position: 0px -8380px; }
.emoji_e505 { background-position: 0px -8400px; }
.emoji_e506 { background-position: 0px -8420px; }
.emoji_e507 { background-position: 0px -8440px; }
.emoji_e508 { background-position: 0px -8460px; }
.emoji_e509 { background-position: 0px -8480px; }
.emoji_e50a { background-position: 0px -8500px; }
.emoji_e50b { background-position: 0px -8520px; }
.emoji_e50c { background-position: 0px -8540px; }
.emoji_e50d { background-position: 0px -8560px; }
.emoji_e50e { background-position: 0px -8580px; }
.emoji_e50f { background-position: 0px -8600px; }
.emoji_e510 { background-position: 0px -8620px; }
.emoji_e511 { background-position: 0px -8640px; }
.emoji_e512 { background-position: 0px -8660px; }
.emoji_e513 { background-position: 0px -8680px; }
.emoji_e514 { background-position: 0px -8700px; }
.emoji_e515 { background-position: 0px -8720px; }
.emoji_e516 { background-position: 0px -8740px; }
.emoji_e517 { background-position: 0px -8760px; }
.emoji_e518 { background-position: 0px -8780px; }
.emoji_e519 { background-position: 0px -8800px; }
.emoji_e51a { background-position: 0px -8820px; }
.emoji_e51b { background-position: 0px -8840px; }
.emoji_e51c { background-position: 0px -8860px; }
.emoji_e51d { background-position: 0px -8880px; }
.emoji_e51e { background-position: 0px -8900px; }
.emoji_e51f { background-position: 0px -8920px; }
.emoji_e520 { background-position: 0px -8940px; }
.emoji_e521 { background-position: 0px -8960px; }
.emoji_e522 { background-position: 0px -8980px; }
.emoji_e523 { background-position: 0px -9000px; }
.emoji_e524 { background-position: 0px -9020px; }
.emoji_e525 { background-position: 0px -9040px; }
.emoji_e526 { background-position: 0px -9060px; }
.emoji_e527 { background-position: 0px -9080px; }
.emoji_e528 { background-position: 0px -9100px; }
.emoji_e529 { background-position: 0px -9120px; }
.emoji_e52a { background-position: 0px -9140px; }
.emoji_e52b { background-position: 0px -9160px; }
.emoji_e52c { background-position: 0px -9180px; }
.emoji_e52d { background-position: 0px -9200px; }
.emoji_e52e { background-position: 0px -9220px; }
.emoji_e52f { background-position: 0px -9240px; }
.emoji_e530 { background-position: 0px -9260px; }
.emoji_e531 { background-position: 0px -9280px; }
.emoji_e532 { background-position: 0px -9300px; }
.emoji_e533 { background-position: 0px -9320px; }
.emoji_e534 { background-position: 0px -9340px; }
.emoji_e535 { background-position: 0px -9360px; }
.emoji_e536 { background-position: 0px -9380px; }
.emoji_e537 { background-position: 0px -9400px; }