// Bootstrap
@import "twitter/bootstrap/bootstrap";

// Navbar
body {
  padding-top: 40px;
}

// Grid System
.span4-5 {
  width: 340px;
}
.offset0-5 {
  margin-left: 60px;
}

// Thumbnails (previously .media-grid up until v1.4)
.media-grid {
  a {
    &:focus {
      outline: 0;
      border-color: @linkColor;
    }
    &.focused {
      border-color: @orange;
    }
  }
  p {
    margin: 0;
  }
}

// Modals
.modal {
  // Modal Mixins
  .modal-base() {
    background-color: whiteSmoke;
    .modal-header,
    .modal-body {
      background-color: @white;
    }
    .modal-footer {
      text-align: left;
    }
  }

  // Media Panel Modal
  &.media-panel {
    .modal-base();
    width: 360px;
    top: 65px;
    left: 50%;
    max-height: 100%;
    overflow-y: auto;
    margin: 0 0 0 110px;
    z-index: 1000;
    .modal-header.user {
      height: 40px;
      padding-top: 6px;
      padding-bottom: 7px;
    }
    .modal-body.photo {
      img {
        padding: 0 10px;
      }
    }
    .close {
      margin-top: 0;
    }
    .likes-status {
      .likes-button {
        display: none;
      }
      &.unlike .likes-button.like,
      &.like   .likes-button.unlike {
        display: block;
      }
    }
    .comments-count {
      margin-bottom: 12px;
    }
    .likes-count {
      margin-bottom: 5px;
    }
    .profile-picture {
      float: left;
      .square(30px);
      margin-top: 5px;
      margin-right: 8px;
      .border-radius(4px);
    }
    .text {
      float: left;
      width: 85%;
    }
    .comments-data .comment {
      .clearfix();
      margin-top: 10px;
    }
    .likes-data .group {
      float: left;
      width: 50px;
      line-height: 16px;
      overflow: hidden;
      margin-top: 5px;
      margin-left: 1em;
      font-size: .625em;
      text-align: center;
      .profile-picture {
        .square(50px);
      }
    }
  }

  // Create Comment Modal
  &.create-comment {
    .modal-base();
    max-height: 100%;
    form {
      line-height: 18px;
      textarea {
        width: 520px;
      }
    }
    .comments {
      max-height: 250px;
      overflow-y: auto;
    }
    .profile-picture {
      display: none;
    }
  }
}

// Alert
.alert-message {
  &.growl {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 8000;
  }
}

// Spinner
.spinner {
  img {
    display: block;
    width: 16px;
    height: 16px;
    margin: auto;
  }
}

// Tags Table
.tags {
  td {
    width: 50%;
  }
}

// Undersky
.content {
  min-height: 1px;
  .page-status {
    padding: 0 0 18px;
    .page-button a {
      display: block;
      text-align: center;
    }
  }
}
.user {
  font-size: 14px;
  h2 {
    font-size: 18px
  }
  .relationships-status {
    .clearfix();
    .outgoing-status {
      float: left;
      margin-right: 15px;
      .relationships-button {
        display: none;
      }
      &.none    .relationships-button.follow,
      &.follows .relationships-button.unfollow {
        display: block;
      }
    }
    .incoming-status {
      padding: 3px 0 0;
      .relationships-text {
        display: none;
      }
      &.followed_by .relationships-text.followed_by {
        display: block;
      }
    }
  }
}
.user,
.tag {
  .count {
    font-weight: bold;
  }
}
.created-time {
  color: @gray;
}
.delete {
  color: gray;
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(255,255,255,1);
  &:hover {
    color: black;
    text-decoration: none;
  }
}
