
// Topbar
.topbar {
  & + .container {
    padding-top: 50px;
  }
  .dropdown-toggle {
     vertical-align: top;
  }
}

// Media Grid
.media-grid {
  a {
    &.focused {
      border-color: #f89406;
    }
  }
}

// Modals
.media-panel {
  &.modal {
    width: 340px;
    top: 65px;
    left: 50%;
    overflow-y: auto;
    margin: 0 0 0 99px;
  }
}

// Alert
.alert-message {
  &.growl {
    position: fixed;
    left: 0;
    right: 0;
  }
}

// Spinner
.spinner {
  img {
    display: block;
    width: 16px;
    height: 16px;
    margin: auto;
  }
}

.user {
  font-size: 14px;
  h2 {
    font-size: 18px
  }
  .count {
    font-weight: bold;
  }
}
