// Bootstrap
@import "twitter/bootstrap";

// Baseline grid
@basefont:          13px;
@baseline:          18px;

// Griditude
@gridColumns:       15;

// Topbar
.topbar {
  & + .page {
    padding-top: 50px;
  }
  .dropdown-toggle {
     vertical-align: top;
  }
  .dropdown-menu {
    z-index: 9000;
  }
}

// Media Grid
.media-grid {
  a {
    &:focus {
      outline: 0;
      border-color: @linkColor;
    }
    &.focused {
      border-color: @orange;
    }
  }
}

// Modals
.modal {
  &.media-panel,
  &.create-comment {
    background-color: whiteSmoke;
    .modal-header,
    .modal-body {
      background-color: @white;
    }
  }
  &.media-panel {
    width: 340px;
    top: 65px;
    left: 50%;
    overflow-y: auto;
    margin: 0 0 0 99px;
    z-index: 1000;
    .close {
      margin-top: 0;
    }
    .likes-status {
      .likes-button {
        display: none;
      }
      &.unlike .likes-button.like,
      &.like   .likes-button.unlike {
        display: block;
      }
    }
  }
  &.create-comment {
    form textarea {
      width: 520px;
    }
  }
}

// Alert
.alert-message {
  &.growl {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 8000;
  }
}

// Spinner
.spinner {
  img {
    display: block;
    width: 16px;
    height: 16px;
    margin: auto;
  }
}

// Undersky
.content {
  min-height: 1px;
  .page-status {
    padding: 0 0 18px;
    .page-button a {
      display: block;
      text-align: center;
    }
  }
}
.user {
  font-size: 14px;
  h2 {
    font-size: 18px
  }
  .relationships-status {
    .outgoing-status {
      .relationships-button {
        display: none;
      }
      &.none    .relationships-button.follow,
      &.follows .relationships-button.unfollow {
        display: block;
      }
    }
  }
}
.user,
.tag {
  .count {
    font-weight: bold;
  }
}
.created-time {
  color: @gray;
}
.delete {
  color: gray;
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(255,255,255,1);
  &:hover {
    color: black;
    text-decoration: none;
  }
}

.media-panel{
  .comments-count {
    margin-bottom: 12px;
  }

  .likes-count {
    margin-bottom: 5px;
  }

  .profile-picture {
    height: 30px;
    width: 30px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    float: left;
    margin-right: 8px;
  }

  .text {
    width: 85%;
    float: left;
    margin-bottom: 10px;
  }

  .likes-data .group {
    font-size: .625em;
    position: relative;
    margin-top: 5px;
    width: 50px;
    text-align: center;
    float: left;
    margin-left: 1em;
    overflow: hidden;
    line-height: 16px;
    .profile-picture {
      width: 50px;
      height: 50px;
    }
  }
}

.create-comment{
  .profile-picture {
    display: none;
  }
}

