
// Topbar
.topbar {
  & + .container {
    padding-top: 50px;
  }
  .dropdown-toggle {
     vertical-align: top;
  }
}

// Modals
.media-panel {
  &.modal {
    width: 340px;
    top: 65px;
    left: 50%;
    overflow-y: auto;
    margin: 0 0 0 99px;
  }
}

.user {
  font-size: 14px;
  h2 {
    font-size: 18px
  }
  .count {
    font-weight: bold;
  }
}
