
// Topbar
.topbar {
  & + .container {
    padding-top: 50px;
  }
  .dropdown-toggle {
     vertical-align: top;
  }
  .dropdown-menu {
    z-index: 9000;
  }
}

// Media Grid
.media-grid {
  a {
    &.focused {
      border-color: #f89406;
    }
  }
}

// Modals
.media-panel {
  &.modal {
    width: 340px;
    top: 65px;
    left: 50%;
    overflow-y: auto;
    margin: 0 0 0 99px;
    z-index: 1000;
    background-color: whiteSmoke;
    .close {
      margin-top: 0;
    }
    .modal-header,
    .modal-body {
      background-color: white;
    }
  }
}

// Alert
.alert-message {
  &.growl {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 8000;
  }
}

// Spinner
.spinner {
  img {
    display: block;
    width: 16px;
    height: 16px;
    margin: auto;
  }
}

// Undersky
.user {
  font-size: 14px;
  h2 {
    font-size: 18px
  }
  .relationship {
    .outgoing_status {
      .relationship-button {
        display: none;
      }
      &.none    .relationship-button.none,
      &.follows .relationship-button.follows {
        display: block;
      }
    }
  }
  .count {
    font-weight: bold;
  }
}
