<div class="tags">
  <table>
    <% @tags.each do |t| %>
    <tr class="tag">
      <td class="name">
        <%= link_to "#{t.name}", "#" %>
      </td>
      <td class="media_count">
        <span class="count"><%= t.media_count %></span> media
      </td>
    </tr>
    <% end %>
  </table>
</div>
